<div class="container">
	<form id="submit_username" action="/1" method="post">
	  <input type="text" name = "username" placeholder= "Username">
	  <input type = "submit" value = "submit">
	</form>
</div>